<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Admin module</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a class="nav-link" [routerLink]="['/encoders']" [routerLinkActive]="['is-active']">Encoders</a></li>
        <li><a class="nav-link" [routerLink]="['/comments']" [routerLinkActive]="['is-active']">Comments</a></li>
        <li><a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['is-active']">Users</a></li>
        <li><a class="nav-link" [routerLink]="['/addAgent']" [routerLinkActive]="['is-active']">Add Agent</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>