  
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" >Admin module</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
          <li><a class="nav-link" [routerLink]="['/encoders']" [routerLinkActive]="['is-active']">Encoders</a></li>
          <li><a class="nav-link" [routerLink]="['/comments']" [routerLinkActive]="['is-active']">Comments</a></li>
          <li><a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['is-active']">Users</a></li>
          <li><a class="nav-link" [routerLink]="['/addAgent']" [routerLinkActive]="['is-active']">Add Agent</a></li>  
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/login']" [routerLinkActive]="['is-active']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  

