<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>PIB</th>
            <th>Name</th>
            <th>Surname</th>
			<th>Email</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
        <ng-container *ngFor="let agent of agents">
            <tr *ngIf="agent?.approved==false">
                <td>{{agent?.businessregnum}}</td>
                <td>{{agent?.name}}</td>
                <td>{{agent?.surname}}</td>
				<td>{{agent?.email}}</td>
                <td class="text-center"><a *ngIf="agent?.approved==false" (click)="approveAgent(agent?.id)" class='btn btn-success btn-xs' ><span class="glyphicon glyphicon-ok-circle"></span> Approve</a> </td>
            </tr>
        </ng-container>
    </table>
    </div>
</div>