<div class="container">
    <h1>Accommodation</h1>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Type</a></li>
      <li><a data-toggle="tab" href="#menu1">Categorization</a></li>
      <li><a data-toggle="tab" href="#menu2">Additional services</a></li>
    </ul>
  <p style="padding:10px"></p>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
       <div class="container">
      
       <form [formGroup]="form" (ngSubmit)="addType()">
          <div class="row">
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <div class="form-group">
                      <input formControlName="newType" type="text" name="Type" id="first_type" class="form-control input-sm" placeholder="Add type">
                  </div>
               </div>
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <button type="submit" class="btn btn-success">Submit</button>
               </div>
          </div>
       </form>
       <table class="table">
           <thead>
            <tr>
              <th>Type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
       <ng-container *ngFor="let type of types">
            <tr>
             <td>
                  <h3>{{type}}</h3>
             </td>
              <td> <h3><a (click)="deleteType(type)">
                        <span class="glyphicon glyphicon-trash"></span>
                  </a></h3>
              </td>
        </tr>
       </ng-container>
      </tbody>
     </table>
     </div>
    </div>
      <div id="menu1" class="tab-pane fade">
        <div class="container">
      
       <form [formGroup]="form2" (ngSubmit)="addCategory()">
          <div class="row">
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <div class="form-group">
                      <input formControlName="newCategory" type="text" name="categorization" id="categorization" class="form-control input-sm" placeholder="Add category">
                  </div>
               </div>
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <button type="submit" class="btn btn-success">Submit</button>
               </div>
          </div>
       </form>
       <table class="table">
            <thead>
             <tr>
               <th>Type</th>
               <th>Action</th>
             </tr>
           </thead>
           <tbody>
        <ng-container *ngFor="let category of categories">
             <tr>
              <td>
                   <h3>{{category}}</h3>
              </td>
               <td> <h3><a (click)="deleteCategory(category)">
                         <span class="glyphicon glyphicon-trash"></span>
                   </a></h3>
               </td>
         </tr>
        </ng-container>
       </tbody>
      </table>
     </div>
    </div>
      <div id="menu2" class="tab-pane fade">
        <div class="container">
       
       <form [formGroup]="form3" (ngSubmit)="addAdditionalService()">
          <div class="row">
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <div class="form-group">
                      <input formControlName="newAdditionalService" type="text" name="Additional services" id="Additional services" class="form-control input-sm" placeholder="Add additional services">
                  </div>
               </div>
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <button type="submit" class="btn btn-success">Submit</button>
               </div>
          </div>
       </form>
       <table class="table">
            <thead>
             <tr>
               <th>Type</th>
               <th>Action</th>
             </tr>
           </thead>
           <tbody>
        <ng-container *ngFor="let additionalService of additionalServices">
             <tr>
              <td>
                   <h3>{{additionalService}}</h3>
              </td>
               <td> <h3><a (click)="deleteAdditionalService(additionalService)">
                         <span class="glyphicon glyphicon-trash"></span>
                   </a></h3>
               </td>
         </tr>
        </ng-container>
       </tbody>
      </table>
     </div>
    </div>
      
    </div>
  </div>
  
  