<div class="container">
    <h1>Aaccommodation</h1>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Type</a></li>
      <li><a data-toggle="tab" href="#menu1">Categorization</a></li>
      <li><a data-toggle="tab" href="#menu2">Additional services</a></li>
    </ul>
  
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
       <div class="container">
      
       <form action="/action_page.php">
          <div class="row">
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <div class="form-group">
                      <input type="text" name="Type" id="first_type" class="form-control input-sm" placeholder="Add type">
                  </div>
               </div>
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <button type="submit" class="btn btn-success">Submit</button>
               </div>
          </div>
       </form>
      <div class="checkbox">
          <label><input type="checkbox" value="">Hotel</label>
      </div>
      <div class="checkbox">
          <label><input type="checkbox" value="">Bed&Brekfast</label>
      </div>
      <div class="checkbox">
          <label><input type="checkbox" value="">Apartman</label>
      </div>
      <button type="button" class="btn btn-danger">Delete</button>
     </div>
    </div>
      <div id="menu1" class="tab-pane fade">
        <div class="container">
      
       <form action="/action_page.php">
          <div class="row">
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <div class="form-group">
                      <input type="text" name="categorization" id="categorization" class="form-control input-sm" placeholder="Add categorization">
                  </div>
               </div>
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <button type="submit" class="btn btn-success">Submit</button>
               </div>
          </div>
       </form>
      <div class="checkbox">
          <label><input type="checkbox" value="">Nekategorisan</label>
      </div>
      <div class="checkbox">
          <label><input type="checkbox" value="">1 Star</label>
      </div>
      <div class="checkbox">
          <label><input type="checkbox" value="">2-5 Stars</label>
      </div>
      <button type="button" class="btn btn-danger">Delete</button>
     </div>
    </div>
      <div id="menu2" class="tab-pane fade">
        <div class="container">
       
       <form action="/action_page.php">
          <div class="row">
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <div class="form-group">
                      <input type="text" name="Additional services" id="Additional services" class="form-control input-sm" placeholder="Add additional services">
                  </div>
               </div>
               <div class="col-xs-2 col-sm-2 col-md-2">
                  <button type="submit" class="btn btn-success">Submit</button>
               </div>
          </div>
       </form>
      <div class="checkbox">
          <label><input type="checkbox" value="">Wifi</label>
      </div>
      <div class="checkbox">
          <label><input type="checkbox" value="">Parking</label>
      </div>
      <div class="checkbox">
          <label><input type="checkbox" value="">TV</label>
      </div>
      <button type="button" class="btn btn-danger">Delete</button>
     </div>
    </div>
      
    </div>
  </div>
  
  