<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
			<th>Email</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
        <ng-container *ngFor="let user of users">
            <tr>
                <td>{{user?.id}}</td>
                <td>{{user?.name}}</td>
                <td>{{user?.surname}}</td>
				<td>{{user?.email}}</td>
                <td class="text-center"><a *ngIf="user?.blocked==false" (click)="blockUser(user?.id)" class='btn btn-warning btn-xs' ><span class="glyphicon glyphicon-ban-circle"></span> Block</a> <a *ngIf="user?.blocked!==false" (click)="unblockUser(user?.id)" class='btn btn-success btn-xs' ><span class="glyphicon glyphicon-ok-circle"></span> Activate</a> <a (click)="deleteUser(user?.id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a></td>
            </tr>
        </ng-container>
    </table>
    </div>
</div>