<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
			<th>Email</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                <td>1</td>
                <td>Marko</td>
                <td>Juric</td>
				<td>jurke95@gmail.com</td>
                <td class="text-center"><a class='btn btn-warning btn-xs' href="#"><span class="glyphicon glyphicon-ban-circle"></span> Block</a> <a class='btn btn-success btn-xs' href="#"><span class="glyphicon glyphicon-ok-circle"></span> Active</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Dragan</td>
                <td>Dulic</td>
				<td>dragandulic@gmail.com</td>
                <td class="text-center"><a class='btn btn-warning btn-xs' href="#"><span class="glyphicon glyphicon-ban-circle"></span> Block</a> <a class='btn btn-success btn-xs' href="#"><span class="glyphicon glyphicon-ok-circle"></span> Active</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Saska</td>
                <td>Dulic</td>
				<td>saskadulic@gmail.com</td>
                <td class="text-center"><a class='btn btn-warning btn-xs' href="#"><span class="glyphicon glyphicon-ban-circle"></span> Block</a> <a class='btn btn-success btn-xs' href="#"><span class="glyphicon glyphicon-ok-circle"></span> Active</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a></td>
            </tr>
    </table>
    </div>
</div>